In [4]:
import cv2 
import os
import pandas as pd 
import matplotlib.pyplot as plt
labels = pd.read_csv("data_labels.csv")

In [5]:
#labels=orig_labels.dropna()  #drops all rows that have none/nan values

In [15]:

img_name = labels["name"]

In [16]:
labels

            name  label  width  height   xmin  ymin   xmax   ymax
0            NaN    NaN    NaN     NaN    NaN   NaN    NaN    NaN
1   cats_000.jpg    cat  474.0   632.0  103.0  72.0  436.0  603.0
2   cats_007.jpg  cat-1  474.0   266.0  301.0  37.0  460.0  265.0
3   cats_050.jpg    cat  474.0   237.0  157.0  40.0  314.0  205.0
4   cats_072.jpg  cat-2  474.0   266.0  187.0   1.0  474.0  266.0
5   cats_076.jpg    cat  474.0   474.0   12.0   6.0  244.0  462.0
6   cats_079.jpg    cat  474.0   266.0   78.0   1.0  474.0  266.0
7   cats_088.jpg  cat-3  474.0   266.0  129.0   1.0  385.0  266.0
8   cats_091.jpg    cat  474.0   316.0  156.0  13.0  328.0  316.0
9   cats_099.jpg  cat-4  474.0   237.0  226.0   1.0  395.0  237.0
10  cats_100.jpg    cat  474.0   266.0   40.0   1.0  420.0  266.0

In [17]:
minx = labels["xmin"].tolist()
miny = labels["ymin"].tolist()
maxx = labels["xmax"].tolist()
maxy = labels["ymax"].tolist()
img_name = labels["name"].tolist()

In [18]:
new_image = cv2.imread("/Volumes/T5/Cuvette_program/Coding/1st_week_task/task_2/cat/cats_050.jpg")

In [19]:
maxx[3]

314.0

In [20]:
import glob
image = []
img_path =[]
for img in glob.glob("cat/*.jpg"):
    n= cv2.imread(img)
    img_path.append(img)
    image.append(n)

In [21]:
bb_img = cv2.rectangle(new_image, (int(minx[3]),int(miny[3])), (int(maxx[3]),int(maxy[3])), color = (0,255,0), thickness =2)
#txt_img = cv2.putText(bb_img, "cat_pic",(100, 70), cv2.FONT_HERSHEY_SIMPLEX, 1, (0,255,255))

In [22]:
cv2.imshow("new_imgjasbdj", bb_img)
cv2.waitKey(0)
cv2.destroyAllWindows()